:root {
  --primary: teal;
  --spacing: 4rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
}

h1 {
  margin-bottom: 2rem;
  font-size: 5vw;
  font-weight: bold;
  line-height: 1.4em;
}

h2 {
  margin-bottom: var(--spacing);
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.title {
  margin-bottom: 2rem;
  font-size: 4vw;
  font-weight: bold;
  line-height: 1.4em;
  color: white;
  text-align: center;
}

.neutral-theme {
  background-color: black;
  --button-color: var(--primary);
  --button-hover-color: white;
}

.primary-theme {
  color: white;
  background-color: var(--primary);
  --button-color: white;
  --button-hover-color: var(--primary);
}

.heading-highlight {
  color: var(--primary);
}

.button {
  display: inline-block;
  width: max-content;
  padding: 1rem;
  border: 2px solid var(--button-color);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: var(--button-color);
}

.button:hover {
  color: var(--button-hover-color);
  background-color: var(--button-color);
  /* transition: all 0.9s ease-in-out; */
}

section {
  padding: var(--spacing);
}

.about-container {
  max-width: 960px;
  margin: 0 auto;
}

.about-img {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 0 auto var(--spacing);
  filter: grayscale(100%);
}

.about-img:hover {
  filter: grayscale(0);
}

img {
  max-width: 350px;
}

a {
  color: teal;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
  line-height: 2em;
}

.about-text {
  text-align: justify;
}

blockquote {
  margin-top: var(--spacing);
  font-size: 2rem;
  font-style: italic;
  text-align: center;
}

cite {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  font-style: normal;
}

article {
  display: flex;
  flex-direction: column-reverse;
}

.article-img {
  margin-bottom: 2rem;
}

.article-text {
  width: 70%;
}

.contact {
  text-align: center;
}

footer {
  padding: var(--spacing);
  text-align: center;
  color: white;
  background-color: black;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing);
  gap: 4rem;
}

.social-link {
  display: block;
  width: 60px;
  height: 60px;
  font-size: 0;
  color: transparent;
  background: no-repeat;
  background-size: 60px;
  transform: scale(1);
}

.social-link:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.linkedin {
  background-image: url(https://victorious-curvy-bookcase.glitch.me/images/linkedin.svg); 
}

.github {
  background-image: url(https://victorious-curvy-bookcase.glitch.me/images/github.svg);
}

.about {
  position: relative;
  margin-bottom: 100px;
}

.about::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -100px;
  width: 0;
  height: 0;
  border-top: 100px solid var(--primary);
  border-right: 100vw solid transparent;
}

@media (min-width: 800px) {
  .about-container {
    display: flex;
  }

  .about-text {
    margin-left: var(--spacing);
  }

  article {
    flex-direction: row;
    max-width: 960px;
    margin: 0 auto var(--spacing);
  }

  .article-img {
    margin-left: 2em;
    object-fit: cover;
  }
}